<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-cedarycat" value="https://nuget.pkg.github.com/CedaryCat/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="github-cedarycat">
      <package pattern="OTAPI.Upcoming" />
      <package pattern="ModFramework" />
      <package pattern="ModFramework.Modules.CSharp" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="GitVersion.*" />
      <package pattern="Microsoft.*" />
      <package pattern="Mono.*" />
      <package pattern="MonoMod.*" />
      <package pattern="NETStandard.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="NuGet.*" />
      <package pattern="PolySharp" />
      <package pattern="Steamworks.*" />
      <package pattern="System.*" />
      <package pattern="xunit*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
